// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  font-family: $text-font-stack;
  box-sizing: border-box;
}

body {
  background: $bg;
  color: $text-color;
  line-height: 1.5;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

.title {
  font-size: $title;
  font-weight: bold;
}
h1 {
  font-size: $tL;
}
h2 {
  font-size: $tM;
}
h3 {
  font-size: $tS;
}
q {
  font-style: italic;
}

b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

a {
  display: inline;
  color: #a4c4f0;
  text-decoration: none;
  cursor: pointer;
  transition: color .2s ease;

  &:hover {
    color: #85a4d0;
  }
}

button {
  color: $bg;
  &:focus {
    outline:0;
  }
}

hr {
  border: none;
  height: 3px;
  width: 100%;
  background: $darker-light-grey;
}

i {
  cursor: pointer;

  & > span {
    margin-left: 4pt;
    font-family: $text-font-stack;
  }
}

blockquote{
  display:block;
  background: transparent;
  padding: 8pt 16pt 8pt 2.5em;
  margin: 0 0 8pt;
  position: relative;

  font-family: Georgia, serif;
  font-size: $tM;
  line-height: 1.2;
  color: $text-color;
  text-align: justify;

  //border-left: 15px solid #c76c0c;
  //border-right: 2px solid #c76c0c;

  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  font-size: 2.5em;
  font-weight: bold;
  color: $mid-grey;

  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
  color: #666;
}

blockquote em{
  font-style: italic;
}