.inTop {
  animation: fadeInDown 0.5s forwards;
}

@keyframes fadeInDown {
  0% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
  }
}

.loading {
  $len: 200pt;
  $time: 2.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  background: $brand-color;
  pointer-events: none;

  .centerLoader {
    //background: red;
    @include abs-center;
    //width: 160pt;
    //text-align: center;
    h1 {
      color: $bg;
      margin-top: -24pt;
      line-height: 1;
      text-align: center;
    }
  }

  svg {
    width: 240pt;
    height: 96pt;
    margin: 0 auto;
  }

  #infinity-outline, #infinity-bg {
    stroke-width: 4;
    stroke: $bg;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  #infinity-outline {
    fill: transparent;
    stroke-dasharray: $len*0.01, $len;
    stroke-dashoffset: 0;
    animation: anim $time linear infinite;
  }
  #infinity-bg {
    fill: transparent;
    opacity: 0.2;
  }
  @keyframes anim {
    12.5% {
      stroke-dasharray: $len*0.14, $len;
      stroke-dashoffset: -$len*0.11;
    }
    43.75% {
      stroke-dasharray: $len*0.35, $len;
      stroke-dashoffset: -$len*0.35;
    }
    100% {
      stroke-dasharray: $len*0.01, $len;
      stroke-dashoffset: -$len*0.99;
    }
  }

  &.error {
    background: #ff5a4d;
  }
}

//.voted {
//  animation: SentenceStarAnim 1s ease forwards;
//}

@keyframes SentenceStarAnim {
  0%{background-position:0 50%}
  100%{background-position:100% 50%}
  //100%{background-position:0 50%}
}
