button {
  background: $brand-color;
  color: $bg;
  border: none;
  transition: all .1s ease-in;
  cursor: pointer;
  &:hover {
    background: lighten($brand-color, 5);
  }
  & > * {
    color: $bg;
  }
  &[disabled] {
    background: $warning-color;
    &:hover {
      background: lighten($warning-color, 5);
    }
  }
}