.storyWrapper {
  flex: 1;
  min-width: 400pt;
  margin: 16pt 8pt;
  @media (max-width: 832pt) {
    flex: none;
    width: calc(100vw - 16pt);
    margin: 8pt auto;
  }
  .storyAuthor {
    b {
      color: $accent;
    }
  }
  .storyDisplay {
    position: relative;
    height: 360pt;
    margin-top: 16pt;
    padding: 8pt;
    box-shadow: 0 0 0 1px $text-color;
    //border: 1px solid $text-color;
    border-bottom: none;
    overflow-y: auto;
    @include screen('sm') {
      height: 60vh;
    }
    .storySen {
      position: relative;
      word-break: normal;
      transition: color .2s ease-in-out;
      &:not(:first-of-type) {
        cursor: pointer;
      }
      &::after {
        position: absolute;
        top: 1.5em;
        left: 0;
        display: none;
        opacity: 0;
        min-width: 240pt;
        padding: 4pt;
        content: 'Submitted by ' attr(data-author) ' on ' attr(data-date);
        text-align: center;
        transition: opacity .25s ease-in;
        @include screen('sm') {
          //temporary
          display: none;
          min-width: 120pt;
          font-size: $tS;
          padding: 4pt 2pt;
          bottom: 2.5em;
        }
      }
      &:hover {
        &:not(:first-of-type) {
          color: $accent;
        }
        &::after {
          opacity: 1;
        }
      }
      ol, ul {
        li {
          &::first-letter {
            text-transform: capitalize;
          }
        }
      }
    }
    .previewSen {
      background: $light-grey;
      opacity: 1;
      transition: opacity .25s ease-in;
      &:empty {
        opacity: 0;
      }
    }
  }
  .storyInput {
    //margin-top: 4pt;
    padding: 0;
    opacity: 0;
    .mainInput {
      display: flex;
      flex-flow: row nowrap;
      margin-right: -1px;
      input {
        display: block;
        flex: 1;
        padding: 8pt;
        font-size: $tM;
        box-shadow: 0 0 0 1px $brand-color;
        //border: 1px solid $brand-color;
        outline: none;
        border: none;
        &:invalid {
          box-shadow: 0 0 0 1px $warning-color;
          //border: 1px solid $warning-color;
        }
      }
      button {
        //margin-right: -1px;
        padding: 0 16pt;
        font-size: $tM;
        box-shadow: 0 0 0 1px $brand-color;
        //border: 1px solid $brand-color;
        z-index: 0;
        &[disabled] {
          box-shadow: 0 0 0 1px $warning-color;
          //border: 1px solid $warning-color;
        }
      }
    }
    .inputOptions {
      margin-top: 1pt;
      font-size: $tM;
      color: $bg;
      //box-shadow: 0 0 0 1px $text-color;
      button {
        display: inline-block;
        width: $md;
        text-align: center;
        padding: 8pt;
        font-size: $tM;
        box-shadow: 0 0 0 1px $brand-color;
        &[disabled] {
          box-shadow: 0 0 0 1px $warning-color;
        }
      }
    }
  }
}
